.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  padding: 20px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.7s;
}
.nav_black {
  background-color: #111;
  opacity: 0.75;
}
.nav_logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
