.row {
  color: white;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 140px;
  margin-right: 5px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 350px;
  margin-right: 10px;
  border-radius: 3px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
